@model IEnumerable<ShopEx.Models.Products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PageName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopExpertpageLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.information)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.pics)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PageName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopExpertpageLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.information)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductId })
        </td>
    </tr>
}

</table>
